$colorSite: rgba(241, 109, 127, 1);

@-webkit-keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-bck {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(236, 236, 236, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__right {
        position: relative;
    }

    &__form {
        display: flex;
        align-items: center;
        margin-left: 37px;
    }

    &__form input {
        height: 38px;
        width: 280px;
        color: rgba(164, 164, 164, 1);
        padding-left: 16px;
    }

    &__form button {
        height: 38px;
        width: 38px;
        margin-left: -5px;
        transition: all 0.3s;

        &:hover {
            background-color: $colorSite;
        }
    }

    &__cart {
        margin-right: 26px;
    }

    &__right:hover .drop_raiting {
        display: flex;

    }
}



.form_header {
    width: 87px;
    background-color: rgb(180, 179, 179);
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 34px;
    height: 38px;
    transition: all 0.3s;

    &:hover .drop_down {
        display: flex;
    }

    &:hover {
        background-color: $colorSite;
        color: white;
    }

}



.button {
    width: 130px;
    height: 38px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    line-height: 32px;
    background-color: $colorSite;
    transition: all 0.3s;
    display: flex;
    flow-direction: row;
    justify-content: space-around;

    &:hover {
        background-color: white;
        color: $colorSite;
        border: 1px solid $colorSite;

        .caret-down-red {
            color: $colorSite;
        }
    }

    & .caret-down-red {
        display: inline-block;
        color: white;
        height: 15px;
        width: 15px;
        margin-top: 8px;
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 27px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-transform: uppercase;

    &__img {
        margin-right: 13px;
    }
}



.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;

    &__list {
        // position: relative;

        &:hover .drop {
            display: flex;
        }

    }

    &__link {
        font-size: 14px;
        font-weight: bold;
        color: #222222;
        text-transform: uppercase;
        padding: 20px;
        display: block;

        &:hover {
            color: #F16D7F;
        }
    }


}




.browse {
    font-size: 14px;
    font-weight: 300;
    color: rgba(34, 34, 34, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 32px;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &:hover {
        color: white;

        .down-caret {
            color: white;
        }
    }

    & .down-caret {
        display: inline-block;
        color: black;
        height: 15px;
        width: 15px;
        margin-top: 8px;
    }
}



.promo {
    background-color: #e8e8e8;

    &__content {
        height: 613px;
        background-image: url(img/promo.png);
        background-position: 0 -51px;
        margin-bottom: 98px;
    }

    &_h1 {
        margin-left: 254px;
        margin-bottom: 382px;
        margin-top: -503px;
        padding-left: 12px;
        border-left: 12px solid $colorSite;
        font-size: 40px;
        font-weight: 900;
        color: rgba(34, 34, 34, 1);
        letter-spacing: 0.03em;
    }

    &_h1::first-line {
        font-size: 60px;
        font-weight: 900;
        color: rgba(34, 34, 34, 1);
        letter-spacing: 0.03em;
    }
}



span {
    color: $colorSite;
    font-weight: 900;
}

.drop_down {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    display: none;
    clear: both;
    text-align: left;
    width: fit-content;
    padding: 12px 20px;
    position: absolute;
    flex-direction: column;
}


.h3_raiting {
    font-size: 12px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
}





.rating_price {
    display: flex;
    justify-content: space-between;
}

.p_rating_price {
    font-size: 16px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
    margin-top: 16px;
}


.a_rating {
    height: 50px;
    width: 225px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $colorSite;
    color: $colorSite;
    text-align: center;
    line-height: 50px;
    margin-top: 32px;
    margin-bottom: 16px;
    transition: all 0.3s;

    &:hover {
        background-color: $colorSite;
        color: white;
    }
}

.a_rating_card {
    font-size: 14px;
    font-weight: bold;
    color: rgba(74, 74, 74, 1);
    text-transform: uppercase;
    height: 50px;
    width: 225px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    text-align: center;
    line-height: 50px;
    transition: all 0.3s;

    &:hover {
        background-color: rgba(74, 74, 74, 1);
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
    }
}

.raiting_card {
    display: flex;
    width: fit-content;
    width: 243px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 17px;
    border-bottom: 1px solid rgba(237, 237, 237, 0.75);
}

.cross {
    color: #ccc;
    text-align: center;
    margin-left: 17px;
    margin-top: 35px;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.text_drop {
    padding-left: 14px;
}

.rating-mini {
    display: inline-block;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 12px;

    & span {
        padding: 0;
        font-size: 20px;
        line-height: 1;
        color: lightgrey;
    }

    &>span:before {
        content: '★';
    }

    &>span.active {
        color: gold;
    }

}



.drop {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 12px 20px;
    position: absolute;
    display: none;
    flex-wrap: wrap;
    width: 846px;
    height: 310px;
    flex-direction: column;

    &_raiting {
        display: none;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        padding: 12px 20px;
        position: absolute;
        align-self: baseline;
        margin-top: 41px;
        padding: 12px 20px;
        flex-direction: column;
    }

    &_h3 {
        font-size: 14px;
        color: rgba(35, 35, 35, 1);
        letter-spacing: 0.03em;
        padding: 8px 0;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(232, 232, 232, 1);
        width: 234px;
        margin-bottom: 8px;
    }

    &_ul {
        list-style-type: none;
    }

    &_a {
        font-size: 14px;
        color: rgba(100, 100, 100, 1);
        text-align: right;
        letter-spacing: 0.03em;
        line-height: 28px;

        &:hover {
            color: $colorSite;
        }
    }


}



.container1 {
    display: flex;
    height: 825px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.block1 {
    background-image: url(img/content1.png);
    width: 561px;
    height: 543px;
}

.block3 {
    background-image: url(img/content3.png);
    width: 561px;
    height: 262px;
}

.block2 {
    background-image: url(img/content4.png);
    width: 561px;
    height: 262px;
}

.block4 {
    background-image: url(img/content2.png);
    width: 561px;
    height: 543px;
}

.p_container1 {
    padding: 16px 20px;
    font-size: 18px;
    font-weight: 900;
    width: fit-content;
    color: rgba(34, 34, 34, 1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 26px;
    background-color: white;
}

.h3_goods {
    text-align: center;
}




.product {
    width: 263px;
    margin-bottom: 46px;
    position: relative;


    &:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
        transform: scale(1.05);
    }

    &_box {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_img {
        width: auto
    }

    &:hover .product_img {
        filter: brightness(40%);
    }

    &_box img {
        width: 100%;
        height: 280px;
    }

    &_content {
        padding: 19px 15px;
    }

    &_name {
        text-decoration: none;
        font-size: 13px;
        color: rgba(34, 34, 34, 1);
        text-align: center;
        text-transform: uppercase;
    }

    &_price {
        font-size: 16px;
        font-weight: bold;
        margin-top: 19px;
        text-transform: uppercase;
    }

    &:hover .product_add {
        display: flex;
    }

    &_add {
        display: none;
        position: absolute;
        top: 97px;
        left: 70px;
        display: none;
        justify-content: center;
        align-items: center;
        width: 123px;
        height: 39px;
        border: 1px solid rgba(255, 255, 255, 1);
        font-size: 13px;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        transition: all .3s;

        &:hover {
            border-color: $colorSite;
            background-color: $colorSite;
        }
    }

    &_add img {
        width: 23px;
        height: 23px;
        margin-right: 8px;
    }
}




.p-goods {
    font-size: 14px;
    color: rgba(159, 159, 159, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    padding-bottom: 52px;
}

.order {
    margin: 0 auto;
    height: 48px;
    width: 212px;
    background-color: $colorSite;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
    display: block;
    margin-bottom: 113px;
    display: flex;
    flow-direction: row;
    justify-content: center;
    transition: all 0.3s;

    &:hover {
        background-color: white;
        color: $colorSite;
        border: 1px solid $colorSite;

        .chevron-right {
            color: $colorSite;
        }
    }

    & .chevron-right {
        display: inline-block;
        width: 15px;
        height: 15px;
        color: white;
        margin-top: 18px;
        margin-left: 5px;
    }
}

.offer {
    height: 623px;
    width: 1141px;
    margin: 0 auto;
    background-color: #222224;
    margin-bottom: 97px;

    &_list {
        list-style-type: none;
        padding-bottom: 18px;
        width: 294px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(251, 251, 251, 1);
        letter-spacing: 0.03em;
        padding-right: 35px;

        & img {
            padding-right: 33px;
        }
    }

    &_text {
        font-size: 14px;
        font-weight: 300;
        color: rgba(251, 251, 251, 1);
        letter-spacing: 0.03em;
        line-height: 24px;
        padding-left: 75px;
        padding-top: 17px;
    }

    &_content {
        position: relative;
        background: url(img/backgound2_offer.png), url(img/offer.png);
        height: 623px;
        background-size: cover;
        background-position: center;

        & ul {
            position: absolute;
            margin-left: 943px;
            background-color: rgba(34, 34, 36, 1);
            padding: 48px 43px 66px 35px;
        }
    }
}



.h1-offer {
    position: absolute;
    top: 146px;
    padding-left: 39px;
    height: 78px;
    letter-spacing: 0.03em;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
    font-size: 54px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.03em;
}





.subscribe {
    height: 441px;
    background: url(img/suscribe_effect.png), url(img/suscribe.png);
    background-position: center -51px;
    background-size: cover;
    display: flex;
}

.padin {
    padding-right: 164px;
    padding-top: 110px;
    display: flex;
    flex-direction: row;

    & img {
        border-radius: 50%;
        height: 83px;
        width: 83px;
        margin-right: 28px;
    }
}



.p-rivew {
    padding-top: 16px;
    padding-bottom: 45px;
}

.rewiev {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgba(34, 34, 36, 1);
    letter-spacing: 0.03em;
    line-height: 26px;
    width: 426px;
}

.form {
    float: left;
    padding-top: 110px;

    & h3 {
        font-size: 24px;
        color: rgba(34, 34, 36, 1);
        text-align: center;
        letter-spacing: 0.03em;
        line-height: 54px;
        text-transform: uppercase;
    }

    & p {
        width: 300px;
        font-size: 14px;
        color: rgba(34, 34, 36, 1);
        text-align: center;
        letter-spacing: 0.03em;
        line-height: 24px;
        padding-bottom: 35px;
    }

    & input {
        width: 282px;
        height: 46px;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        position: relative;
        padding-left: 30px;
        background-color: rgba(225, 225, 225, 1);
    }

    & button {
        position: absolute;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
        height: 46px;
        width: 148px;
        background-color: $colorSite;
        color: white;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: $colorSite;
            background-color: white;

        }

    }
}



.paddination {
    height: 6px;
    width: 38px;
    border-radius: 2px;
    background-color: white;
    display: flex;
    margin-top: 72px;
    float: left;
    margin: 10px;

    &:hover {
        background-color: #F16D7F;
    }

}

.active_padding {
    background-color: #F16D7F;
}





.footer {
    height: 100px;
    background-color: #ccc;

    &_inf {
        height: 458px;
        padding-top: 110px;
        display: flex;
    }

    &-p {
        width: 430px;
        font-size: 14px;
        font-weight: 300;
        color: rgba(137, 137, 137, 1);
        text-align: right;
        letter-spacing: 0.03em;
        line-height: 24px;
        padding-top: 29px;
    }


    &_list {
        float: left;
        list-style-type: none;
        padding-left: 60px;

        &> :nth-child(1) {
            padding-bottom: 45px;
        }

        & a {
            font-size: 18px;
            color: rgba(137, 137, 137, 1);
            letter-spacing: 0.03em;

            &:hover {
                color: $colorSite;
            }
        }
    }

    &_link {
        padding-bottom: 25px;

    }

}

.brand {
    float: left;
    font-size: 16px;
    color: rgba(122, 122, 122, 1);
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 42px;
    left: 228px;
    line-height: 100px;
}

.social {
    float: right;
    line-height: 100px;

    & a {
        width: 32px;
        height: 32px;
    }
}

.square_fa {
    display: inline-block;
    text-rendering: auto;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 32px;
    height: 32px;
    padding-left: 5px;

    &:hover {
        color: $colorSite;
        transform: rotate(360deg);
        transition: all 2s;
    }
}



/* womanwear page */
.breadcrumb {
    height: 149px;
    background-color: #F8F3F4;

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 65px;
    }

    &_p {
        font-size: 24px;
        font-weight: 900;
        line-height: 20px;
        text-transform: uppercase;
    }

    &_menu {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }


    &_li a {
        font-size: 14px;
        font-weight: 300;
        color: rgba(99, 99, 99, 1);
        text-align: center;
        line-height: 20px;
        text-transform: uppercase;
    }

    &_li a:hover {
        color: #F16D7F;
        font-weight: 600;
    }
}



.image_slide {
    height: 777px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
        display: block;
        width: 48px;
        height: 48px;
        background-color: rgba(42, 42, 42, 0.15);
        text-align: center;
        line-height: 48px;
        animation: pulsate-bck 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite both;
    }

    & .chevron-left-woman {
        height: 15px;
        color: white;

        &:hover {
            color: $colorSite;
        }
    }

}



.product_description {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    Width: 1142px;
    height: 731px;
    margin: 0 auto;
    margin-top: -86px;
    background-color: white;
    border: 1px solid rgba(42, 42, 42, 0.15);
    margin-bottom: 142px;
}

.material {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 398px;
}

.line {
    width: 142px;
    height: 2px;
    color: #ccc;
    position: relative;
}

.topline {
    position: absolute;
    width: 64px;
    height: 4px;
    background-color: #F16D7F;
    top: -2px;
    left: 42px;
}

.woman_product_img {
    background-color: rgba(233, 233, 233, 1);

    & img {
        width: 50%;
        margin-left: 60px;
    }
}



.product:hover .woman_product_img {
    filter: brightness(40%);
}

.h2_product_description {
    width: 642px;
    text-align: center;
}

.p_description_product {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    width: 642px;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    padding-bottom: 43px;
}

.choice_characteristic {
    display: flex;
    width: 642px;
    justify-content: space-around;
}

.h3_goods {
    font-size: 24px;
    font-weight: 900;
    color: rgba(77, 77, 77, 1);
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
}

.h3_color {
    padding-bottom: 26px;
}

.color_choise {
    height: 35px;
    width: 144px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    position: relative;
    padding-left: 37px;
    color:rgba(188, 188, 188, 1);

    &_img {
        position: absolute;
        height: 12px;
        width: 12px;
        background-color: rgba(239, 91, 112, 1);
        margin-top: 12px;
        margin-left: -132px;
    }
}



.chioce_to_card {
    height: 55px;
    width: 537px;
    border: 1px solid rgba(239, 91, 112, 1);
    font-size: 16px;
    font-weight: bold;
    color: rgba(239, 91, 112, 1);
    line-height: 55px;
    text-align: center;
    transition: all 0.5s;

    &:hover {
        color: white;
        border-color: white;
        background-color: $colorSite;

        & img {
            content: url(img/white-card.png);
        }
    }

    & img {
        margin-right: 15px;

    }
}



.down {
    position: absolute;
    margin-left: -23px;
    margin-top: 10px;
    color: gray;
    width: 14px;
    height: 14px;
}

/* manwear page */
.menu_active_link_man {
    border-bottom: 3px solid rgba(239, 91, 112, 1);
}

.catalog {
    margin-top: 59px;
    display: flex;
}

.catalog_menu {
    margin-left: 230px;
}

.a_catalog {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    border-left: 5px solid rgba(239, 91, 112, 1);
    padding: 12px;
    border-bottom: 1px solid rgba(235, 235, 235, 1);
    width: 243px;
    display: flex;
    flow-direction: row;
    justify-content: space-between;
}

.li_catalog {
    list-style-type: none;
}

.sortup {
    color: rgba(239, 91, 112, 1);
    height: 15px;
}

.sortdown {
    color: rgba(111, 110, 110, 1);
    height: 15px;
}

.brand_catalog .sortdown {
    padding-left: 155px;
}

.catalog_a {
    font-size: 14px;
    color: rgba(111, 110, 110, 1);
    line-height: 33px;
    padding-left: 18px;

    &:hover {
        color: rgba(239, 91, 112, 1);
    }
}



.ul_catalog {
    padding-top: 22px;
}

.brand_catalog {
    margin-top: 35px;
    margin-bottom: 39px;

    & a {
        font-size: 14px;
        font-weight: bold;
        color: rgba(111, 110, 110, 1);
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 35px;
        margin-bottom: 50px;
    }
}



.disainer_catalog a {
    font-size: 14px;
    font-weight: bold;
    color: rgba(111, 110, 110, 1);
    line-height: 20px;
    text-transform: uppercase;
}

.man_catalog {
    display: flex;
    flex-direction: column;
    width: 846px;
}

.man_characters {
    margin-left: 49px;
    display: flex;
}

.h3_trending {
    padding-bottom: 35px;
}

.trending {
    padding-right: 143px;
}

.catalog_of_brand {
    display: flex;
    height: 39px;
    width: 176px;
    flex-wrap: wrap;
}

.a_brand {
    font-size: 14px;
    color: rgba(111, 110, 110, 1);
    line-height: 26px;

    &:hover {
        color: rgba(239, 91, 112, 1);
    }
}



.catalog_of_brand p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    color: rgba(223, 223, 223, 1);
    line-height: 26px;
}

.man_size {
    padding-right: 57px;
}

.size_wear {
    display: flex;
    height: 73px;
    width: 236px;
    flex-wrap: wrap;

    & label {
        padding-right: 25px;
    }
}



.range_price {
    display: flex;
    justify-content: space-between;
}

.sort_by {
    position: relative;
    height: 50px;
    width: 876px;
    background-color: rgba(243, 243, 243, 1);


    & input {
        margin-top: 10px;
    }
}



.man_listofgoods {
    margin-top: 43px;
    margin-left: 49px;
}

.sorting {
    margin-left: 9px;
    height: 30px;
    width: 153px;
    font-size: 14px;
    color: rgba(111, 110, 110, 1);
    line-height: 26px;
    position: relative;
    margin-right: 9px;
}

.sort_name {
    height: 30px;
    width: 119px;
    font-size: 14px;
    color: rgba(111, 110, 110, 1);
    line-height: 26px;
    position: relative;
}

.sordown {
    color: #ccc;
    margin-left: -39px;
    margin-top: 16px;
    position: absolute;
    width: 15px;
    height: 15px;

}

.man_padding {
    margin-top: 48px;
    margin-left: 49px;
}

.p_man_wear {
    font-size: 13px;
    color: rgba(111, 110, 110, 1);
    text-transform: uppercase;
    padding-top: 19px;
    padding-bottom: 17px;
}

.p_price_man_wear {
    padding-bottom: 35px;
}

.man_padding {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 876px;
}

.pages_catalog {
    margin-top: 43px;
    margin-left: 49px;
    display: flex;
    justify-content: space-between;
    width: 876px;
}

.chevron-left {
    color: rgba(170, 170, 170, 1);
    padding-top: 12px;
    padding-left: 13px;
    transition: all 0.3s;

    &:hover {
        color: $colorSite;
    }
}

.chevron-left-1 {
    margin-right: 20px;
}

.num_pages {
    height: 44px;
    width: 261px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 3px;
    display: flex;
    line-height: 44px;
    justify-content: space-between;
}

.pages_num {
    font-size: 16px;
    font-weight: 300;
    color: rgba(196, 196, 196, 1);

    &_active {
        color: $colorSite;
    }

    & a {
        font-size: 16px;
        font-weight: 300;
        color: rgba(196, 196, 196, 1);
        transition: all 0.3s;

        &:hover {
            color: $colorSite;
            font-size: 20px;

        }
    }
}

.catalog_viewall {
    height: 44px;
    width: 150px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid $colorSite;
    border-radius: 3px;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    font-weight: 900;
    color: $colorSite;
    transition: all 0.3s;

    &:hover {
        color: white;
        background-color: $colorSite;
        border-color: white;
    }
}

.man_promo {
    background-color: rgba(34, 34, 36, 1);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 341px;
    margin-top: 110px;
    align-items: center
}

.man_offer {
    width: 309px;
    text-align: center;
}

.h3_manoffer {
    font-size: 20px;
    font-weight: bold;
    color: rgba(251, 251, 251, 1);
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 32px;
}

.p_manoffer {
    font-size: 14px;
    font-weight: 300;
    color: rgba(251, 251, 251, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 24px;
    padding-top: 17px;
}

/* shop_page */
.shoping_product {
    margin-top: 90px;
}

.shoping_catalog {
    display: flex;
    margin-left: 230px;
    width: 1137px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    padding-bottom: 22px;
    padding-top: 22px;
    height: fit-content;

}


.product_info {
    flex: 0 0 20em;
    height: 115px;
    display: flex;
    flex-direction: row;

}

.h3_shoping {
    font-size: 16px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    letter-spacing: -0.01em;
    line-height: 20px;
    text-transform: uppercase;

    &:first-child {
        flex: 0 0 20em;
    }
}

.small_page_text {
    display: flex;
    flex-direction: column;
    padding-left: 21px;

    & a {
        font-size: 13px;
        color: rgba(34, 34, 34, 1);
        text-align: right;
        text-transform: uppercase;

        &:hover {
            color: $colorSite;
        }
    }
}

.h3_small_wear {
    padding-top: 13px;
    padding-bottom: 38px;
}

.h3_shoping_new {
    height: 115px;
    line-height: 115px;
    font-size: 16px;
    color: rgba(101, 101, 101, 1);
}

.active_shoping {
    height: 30px;
    width: 54px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    font-size: 13px;
    color: rgba(101, 101, 101, 1);
    line-height: 20px;
    margin-top: 41px;
}

.cros {
    color: rgba(192, 192, 192, 1);
    height: 15px;

    &:hover {
        color: $colorSite;
    }
}

.buttons_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 44px;
}

.clear_card {
    height: 50px;
    width: 235px;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 1px solid rgba(234, 234, 234, 1);
    transition: all .3s;

    &:hover {
        color: white;
        border-color: $colorSite;
        background-color: $colorSite;
    }
}

.continous_shipping {
    height: 50px;
    width: 225px;
    font-size: 14px;
    font-weight: bold;
    color: #4a4a4a;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 1px solid rgba(234, 234, 234, 1);
    transition: all .3s;

    &:hover {
        color: white;
        border-color: $colorSite;
        background-color: $colorSite;
    }
}

.info_adres {
    height: 45px;
    width: 355px;
    border: 1px solid rgba(234, 234, 234, 1);
    font-size: 16px;
    font-weight: 300;
    color: rgba(177, 177, 177, 1);
    padding-left: 18px;
}

.adress_block {
    margin-top: 63px;
    margin-left: 229px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1140px;
    margin-bottom: 72px;
}


.shipping_aadress {
    width: 355px;
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a_get {
    height: 35px;
    width: 150px;
    border: 1px solid rgba(234, 234, 234, 1);
    text-align: center;
    line-height: 35px;
    font-size: 11px;
    font-weight: bold;
    color: rgba(74, 74, 74, 1);
    text-transform: uppercase;
    transition: all .3s;

    &:hover {
        color: white;
        border-color: $colorSite;
        background-color: $colorSite;
    }
}

.copon {
    height: 184px;
    width: 355px;
}

.checkout {
    height: 214px;
    width: 360px;
    background-color: rgba(245, 243, 243, 1);
    align-items: flex-end;
    padding-right: 41px;
    justify-content: space-evenly;
}

.shop_line {
    width: 275px;
    background-color: rgba(226, 226, 226, 1);
}

.process_checkout {
    height: 50px;
    width: 273px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    background-color: rgba(239, 91, 112, 1);
    text-align: center;
    line-height: 50px;
    transition: all .3s;

    &:hover {
        color: $colorSite;
        border-color: white;
        background-color: white;
    }
}

// checkout page
.registr_info {
    padding-bottom: 93px;
}

.login_fogot {
    display: flex;
    flex-direction: row;
}

.guest_regist_left_side {
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guest_regist_right_side {
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guest_regist {
    display: flex;
    flex-direction: column;
}

.input_data {
    display: flex;
    flex-direction: column;

    & label {
        padding-left: 14px;
    }
}

#chekout {
    margin-bottom: 19px;
}

.guest_regist_side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 974px;
}

.first_block_registr {
    margin-top: 89px;
    margin-left: 230px;
    padding-bottom: 79px;
    width: 1141px;
    border-bottom: 1px solid rgba(226, 226, 226, 1);
}

.another_block_registr {
    margin-top: 34px;
    margin-left: 230px;
    width: 1141px;
    border-bottom: 1px solid rgba(226, 226, 226, 1);
}

.regist_adress {
    font-size: 16px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
    margin-bottom: 39px;
}

.h4_registr {
    font-size: 13px;
    color: rgba(34, 34, 34, 1);
    text-transform: uppercase;
    padding-bottom: 15px;
}

.p_registr {
    font-size: 13px;
    color: rgba(179, 178, 178, 1);
    line-height: 20px;
}

.registr_data {
    font-size: 16px;
    color: rgba(34, 34, 34, 1);
    line-height: 20px;

}

.data_registr {
    padding-left: 32px;
    padding-top: 17px;

    & a {
        text-decoration: none;
        font-size: 16px;
        color: rgba(34, 34, 34, 1);
    }
}

.registr_continue {
    height: 50px;
    width: 180px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    font-size: 14px;
    font-weight: bold;
    color: rgba(74, 74, 74, 1);
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    transition: all 0.5s;

    &:hover {
        background-color: $colorSite;
        border-color: white;
        color: white;

    }
}

.angle-double {
    color: rgba(179, 178, 178, 1);
}

.password {
    height: 45px;
    width: 390px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    font-size: 16px;
    color: rgba(34, 34, 34, 1);
    line-height: 20px;
    padding-left: 25px;
}

.registr_p {
    padding-bottom: 32px;
}