* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: 'Roboto';
  width: 100%;
  height: 100%;
}

.container {
  padding: 0 calc(50% - 170px);
}

.header {
  height: 376px;
  left: -1px;
  top: 0px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #DAEAF7), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.top__menu_logo {
  padding-top: 1px;
}

.top__menu_logo_p {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #316099;
}

.top__menu_logo_p1 {
  width: 31px;
  height: 31px;
  border: 1px solid #316099;
  border-radius: 50%;
  background-color: white;
  margin-top: -32px;
  margin-left: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top__menu_logo_p1:hover {
  margin-left: 0;
}

.header__content {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content_left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content_h1 {
  color: #1F3F68;
  font-size: 32px;
  line-height: 38px;
  line-height: 100%;
  text-align: Center;
  vertical-align: Top;
  letter-spacing: 4%;
}

.header__content_p {
  Opacity: 60%;
  font-size: 16px;
  line-height: 16px;
  line-height: 139%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 5%;
  padding-top: 12px;
}

.header__content_a {
  background-color: #5A98D0;
  text-align: center;
  color: white;
  width: 108px;
  height: 27px;
  line-height: 27px;
  text-decoration: none;
  display: block;
  border-radius: 20px;
  margin-top: 32px;
}

.header__content_a:hover {
  -webkit-filter: drop-shadow(5px 10px 20px rgba(53, 110, 173, 0.2));
          filter: drop-shadow(5px 10px 20px rgba(53, 110, 173, 0.2));
}

.header__content_img {
  display: none;
}

.group1 {
  padding-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group1_h2 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: black;
  padding-bottom: 32px;
}

.group1__content {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 334px;
}

.group1__content_block {
  height: 448px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  padding-left: 28px;
  padding-right: 56px;
  margin-bottom: 32px;
}

.group1__content_block_img {
  padding-top: 41px;
}

.group1__content_block_img_swg1 {
  padding-left: 93px;
}

.group1__content_block_img_swg2 {
  margin-top: -156px;
  padding-left: 36px;
  padding-bottom: 17px;
}

.group1__content_block_h3 {
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 5%;
  color: #1F3F68;
}

.group1__content_block_p {
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  letter-spacing: 5%;
  color: #1F3F68;
  opacity: 60%;
}

.group1__content_block_a {
  display: block;
  text-decoration: none;
  color: #5A98D0;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin-left: -188px;
}

.group1__content_block_a .long-arrow-alt-right {
  width: 14px;
  height: 14px;
  padding-left: 9px;
  color: #5A98D0;
}

.group2 {
  padding-top: 64px;
}

.group2_h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  padding-bottom: 32px;
}

.group2_p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 64px;
}

.group2__mask {
  width: 343px;
  height: 144px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.group2__mask_1 {
  background: url(img/group2_1.png) bottom left no-repeat, linear-gradient(89.97deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%), url(img/group2_1_2.png) 100%;
}

.group2__mask_2 {
  height: 255px;
  background: linear-gradient(317.29deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%), url(img/group2_2_2.png) 100%;
}

.group2__mask_3 {
  height: 255px;
  background: linear-gradient(317.29deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%), url(img/group2_3_2.png) 100%;
}

.group2__mask_p {
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  color: #FFFFFF;
  float: left;
  padding-left: 16px;
}

.group2__mask_p_1 {
  float: right;
  padding-right: 16px;
}

.group3 {
  height: 310px;
  background-color: #316099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #FFFFFF;
}

.group3_h3 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: white;
}

.group3_p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.group3_a {
  display: block;
  text-decoration: none;
  width: 108px;
  height: 31px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #5A98D0;
  color: #FFFFFF;
}

.footer {
  height: 232px;
  background-color: #316099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 16px;
  padding-right: 16px;
}

.footer_ol {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 16px;
  padding-top: 32px;
}

.footer_ol_li {
  padding-left: 23px;
  padding-bottom: 17px;
}

.footer_p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

@media (min-width: 728px) and (max-width: 1024px) {
  .container {
    padding: 0 calc(50% - 370px);
  }
  .header {
    height: 768px;
  }
  .top__menu {
    padding-top: 36px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .header__content {
    padding-top: 120px;
  }
  .header__content_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__content_h1 {
    max-width: 550px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-align: left;
  }
  .header__content_p {
    max-width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
  }
  .header__content_a {
    width: 220px;
    height: 56px;
    line-height: 56px;
  }
  .header__content_img {
    display: block;
  }
  .group1 {
    margin-top: 64px;
  }
  .group1_h2 {
    margin-bottom: 32px;
  }
  .group2 {
    margin-top: 127px;
  }
  .group2_h2 {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
  }
  .group2_p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
  }
  .group2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .group2__mask {
    width: 336px;
    height: 253px;
  }
  .group2__mask_1 {
    width: 705px;
    height: 297px;
    background-size: contain;
  }
  .group2__mask_p {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    padding-top: 64px;
    color: #FFFFFF;
    float: left;
    padding-left: 16px;
    margin-left: -61px;
  }
  .group2__mask_p_1 {
    float: right;
    padding-left: 16px;
    margin-left: 238px;
  }
  .group3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .group3_h3 {
    width: 336px;
    height: 100px;
    padding-top: 47px;
  }
  .group3_p {
    width: 336px;
    height: 120px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1025px) {
  .container {
    padding: 0 calc(50% - 670px);
  }
  .header {
    height: 768px;
  }
  .top__menu {
    padding-top: 42px;
    padding-left: 112px;
    padding-right: 112px;
  }
  .header__content {
    padding-top: 120px;
  }
  .header__content_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__content_h1 {
    max-width: 550px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    text-align: left;
    margin-left: -479px;
  }
  .header__content_p {
    max-width: 425px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    text-align: left;
    padding-left: 145px;
  }
  .header__content_a {
    width: 220px;
    height: 56px;
    line-height: 56px;
  }
  .header__content_img {
    display: block;
    width: 648px;
    height: 549px;
    margin-top: -174px;
    padding-right: 87px;
  }
  .group1_h2 {
    padding-top: 64px;
  }
  .group1__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
  }
  .group1__content_block {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
    width: 359px;
  }
  .group1__content_block_a {
    margin-left: 5px;
  }
  .group2 {
    padding-top: 64px;
  }
  .group2_h2 {
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
  }
  .group2_p {
    padding-top: 32px;
    width: 750px;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
  }
  .group2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .group2__mask {
    width: 554px;
    height: 417px;
    background-size: contain;
  }
  .group2__mask_1 {
    width: 1140px;
    height: 480px;
    background-size: contain;
  }
  .group2__mask_p {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    padding-top: 64px;
    color: #FFFFFF;
    float: left;
    padding-left: 16px;
    margin-left: -138px;
  }
  .group2__mask_p_1 {
    float: right;
    padding-left: 16px;
    margin-left: 604px;
  }
  .group3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 112px;
  }
  .group3_h3 {
    width: 340px;
    height: 100px;
    padding-top: 47px;
    font-size: 36px;
    line-height: 46px;
  }
  .group3_p {
    width: 494px;
    height: 120px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 26px;
  }
  .group3_a {
    width: 236.63px;
    height: 56px;
    line-height: 56px;
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */